<%- include('head.ejs') %>

<body oncontextmenu="return false;" class="relative overflow-x-hidden">

    <div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v20.0" nonce="cZYg02cO"></script>


    <!-- SVG Background -->
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid slice" class="absolute top-0 left-0 w-full h-full">
    <circle cx="95" cy="50" r="3" fill="#d2d3db" opacity="0.75" />       <!-- Partially off-screen -->
    <circle cx="56" cy="86" r="4" fill="#d2d3db" opacity="0.75" />
    <circle cx="65" cy="55" r="3" fill="#d2d3db" opacity="0.75" />
    <circle cx="40" cy="20" r="3" fill="#d2d3db" opacity="0.75" />
    <circle cx="75" cy="40" r="2" fill="#d2d3db" opacity="0.75" />
    <circle cx="35" cy="80" r="4" fill="#d2d3db" opacity="0.75" />
    <circle cx="15" cy="60" r="4" fill="#d2d3db" opacity="0.75" />
    <circle cx="70" cy="70" r="4" fill="#d2d3db" opacity="0.75" />
    <circle cx="35" cy="30" r="2" fill="#d2d3db" opacity="0.75" />
    <circle cx="78" cy="55" r="3" fill="#d2d3db" opacity="0.75" />
    <circle cx="70" cy="45" r="4" fill="#d2d3db" opacity="0.75" />
    <circle cx="8" cy="47" r="5" fill="#d2d3db" opacity="0.75" />        <!-- Partially off-screen -->
    <circle cx="72" cy="20" r="3" fill="#d2d3db" opacity="0.75" />
    <circle cx="20" cy="89" r="3" fill="#d2d3db" opacity="0.75" />       <!-- Partially off-screen -->
    <circle cx="55" cy="75" r="2" fill="#d2d3db" opacity="0.75" />
    <circle cx="15" cy="30" r="3" fill="#d2d3db" opacity="0.75" />
    <circle cx="25" cy="45" r="4" fill="#d2d3db" opacity="0.75" />
    <circle cx="45" cy="35" r="3" fill="#d2d3db" opacity="0.75" />
    <circle cx="60" cy="40" r="3" fill="#d2d3db" opacity="0.75" />
    <circle cx="38" cy="65" r="4" fill="#d2d3db" opacity="0.75" />
    <circle cx="28" cy="25" r="3" fill="#d2d3db" opacity="0.75" />

    <circle cx="64" cy="24" r="4" fill="#d2d3db" opacity="0.75" />
    <circle cx="84" cy="27" r="4" fill="#d2d3db" opacity="0.75" />
    <!-- Enhanced circles in the bottom-left and bottom-right portions, moved higher -->
    <circle cx="10" cy="75" r="6" fill="#d2d3db" opacity="0.75" />        <!-- Bigger and higher up -->
    <circle cx="20" cy="68" r="3" fill="#d2d3db" opacity="0.75" />        <!-- Bigger and higher up -->
    <circle cx="100" cy="66" r="4" fill="#d2d3db" opacity="0.75" />        <!-- Bigger and higher up -->
    <circle cx="86" cy="79" r="6" fill="#d2d3db" opacity="0.75" />        <!-- Bigger and higher up -->
</svg>

      

    <div>
        <div class="relative z-10"> <!-- Ensure content is above the SVG -->
            <!-- NAVBAR -->
            <%- include('navbar.ejs') %> 
    
            <!--HEADER (Path)-->
            <div class="flex flex-col mt-20 lg:mt-20 md:mt-48 sm:mt-48 md:flex-row md:justify-between">
                <div class="flex ml-3 mt-3 lg:mt-3 md:mt-24 sm:mt-24 items-center">
                    <div class="mt-0 lg:mt-0 md:mt-2 sm:mt-2">
                    </div>
                </div>
            </div>

<!-- First Slideshow Container -->
<div class="slideshow-container mt-8">
    <!-- Slide 1 -->
    <div class="mySlides1">
        <div class="banner">
            <video autoplay loop muted playsinline poster="fallback-image.jpg" style="width:100%; height:100%; object-fit:cover;">
                <source src="/public/Untitled design.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
    </div>
    <!-- Slide 2 -->
    <div class="mySlides1">
        <div class="banner">
            <video autoplay loop muted playsinline poster="fallback-image.jpg" style="width:100%; height:100%; object-fit:cover;">
                <source src="/public/Untitled Design (3).mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
    </div>
    <!-- Slide 3 -->
    <div class="mySlides1">
        <div class="banner">
            <video autoplay loop muted playsinline poster="fallback-image.jpg" style="width:100%; height:100%; object-fit:cover;">
                <source src="/public/Untitled Design (2).mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
    </div>

    <!-- Next/Prev controls for first slideshow 
    <a class="prev" onclick="plusSlides(-1, 1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1, 1)">&#10095;</a>
  -->
</div>


  


<div class="container pb-1 mx-auto mt-6">
  <!-- MAIN CONTENT-->
  <div class="md:flex">
    <!--Main content // ABOUT-->
    <div class="w-full glass-bg">
      <div class="p-3 pt-2">

            <!--   
        <div class="content flex -mt-1">
            <div class="font-semibold text-4xl mt-1 ml-4"> Sucursales: </div>
        </div>
 
        <div class="content -mt-1">
          <p class="font-semibold text-4xl mt-1 ml-4 text-center">La Wash Lavanderías</p>
        </div>
    -->

    
    <div class="md:flex md:flex-row-reverse items-center">
        <!-- SVG on the Right -->
        <div class="w-full md:w-1/2 lg:w-1/3 -ml-10 flex justify-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="170" height="170" fill="currentColor" class="bi bi-emoji-frown text-gray-700 mt-4" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                <path d="M4.285 12.433a.5.5 0 0 0 .683-.183A3.5 3.5 0 0 1 8 10.5c1.295 0 2.426.703 3.032 1.75a.5.5 0 0 0 .866-.5A4.5 4.5 0 0 0 8 9.5a4.5 4.5 0 0 0-3.898 2.25.5.5 0 0 0 .183.683M7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5m4 0c0 .828-.448 1.5-1 1.5s-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5"/>
            </svg>
        </div>
    
        <!-- Text on the Left -->
        <div class="w-full md:w-1/2 lg:w-2/3 mt-10">
            <div class="content text-center md:text-left">
                <h1 class="font-semibold text-5xl text-gray-700">Error 404</h1>
                <p class="font-semibold text-3xl text-gray-700">La página que buscabas no se encuentra disponible por el momento.</p>
            </div>
        </div>
    </div>


      </div>
    </div>
  </div>
</div>

    

<!-- Second Slideshow Container -->
<div class="relative mt-10 mb-12">
    <!-- Bottom Background Image -->
    <img class="absolute inset-0 w-full h-full object-cover" src="/public/images/lawash-banner-base.png" alt="Bottom Background Image" style="z-index: 0;">

    <!-- Slideshow Container -->
    <div class=" slideshow-container z-10 -mb-24 relative">
        <!-- Slide 1 -->
        <div class="mySlides2 fade">
            <div class="banner">
                <img class="inset-0 w-full h-full" src="/public/images/lawash-banner-1.png" alt="Top Background Image">
            </div>
        </div>
        <!-- Slide 2 -->
        <div class="mySlides2 fade">
            <div class="banner">
                <img class="inset-0 w-full h-full" src="/public/images/lawash-banner-2.png" alt="Top Background Image">
            </div>
        </div>
        <!-- Slide 3 -->
        <div class="mySlides2 fade">
            <div class="banner">
                <img class="inset-0 w-full h-full" src="/public/images/lawash-banner-3.png" alt="Top Background Image">
            </div>
        </div>

        <!-- Next/Prev controls for slideshow -->
        <a class="prev" onclick="plusSlides(-1, 2)">&#10094;</a>
        <a class="next" onclick="plusSlides(1, 2)">&#10095;</a>
    </div>
</div>



          
          
  
              
  
              <!--Footer (Path) -->
              <%- include('footer.ejs') %>
          </div>
      </div>
  </body>
  
  <script src="https://cdn.jsdelivr.net/npm/prismjs@1.29.0/prism.min.js"></script>
  <script>
  function copyToClipboard(index) {
      const codeContent = document.getElementById(`code-content-${index}`).innerText;
      navigator.clipboard.writeText(codeContent).then(() => {
          alert('Code copied to clipboard!');
      }).catch(err => {
          console.error('Failed to copy: ', err);
      });
  }
  
  function toggleCode(index) {
      const codeBox = document.getElementById(`code-box-${index}`);
      codeBox.classList.toggle('minimized');
      const button = document.querySelector(`#code-box-${index} .toggle-button`);
      button.textContent = codeBox.classList.contains('minimized') ? 'Show Code' : 'Hide Code';
  }
  
  // Initialize all code-boxes to be minimized when the document is ready
  document.addEventListener('DOMContentLoaded', () => {
      const codeBoxes = document.querySelectorAll('.code-box');
      codeBoxes.forEach((codeBox, index) => {
          codeBox.classList.add('minimized');
          const button = codeBox.querySelector('.toggle-button');
          if (button) {
              button.textContent = 'Show Code'; // Ensure the button text reflects the minimized state
          }
      });
  });
  
  
  let slideIndex1 = 1;
  let slideIndex2 = 1;
  
  showSlides(slideIndex1, 1); // Initialize first slideshow
  showSlides(slideIndex2, 2); // Initialize second slideshow
  
  // Function to advance to the next slide
  function plusSlides(n, slideshow) {
    if (slideshow === 1) {
      showSlides(slideIndex1 += n, 1);
    } else if (slideshow === 2) {
      showSlides(slideIndex2 += n, 2);
    }
  }
  
  // Function to show a specific slide
  function showSlides(n, slideshow) {
    let i;
    let slides;
  
    if (slideshow === 1) {
      slides = document.getElementsByClassName("mySlides1");
      if (n > slides.length) { slideIndex1 = 1 }
      if (n < 1) { slideIndex1 = slides.length }
      for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";
        // Pause videos in non-visible slides
        let videos = slides[i].getElementsByTagName("video");
        for (let j = 0; j < videos.length; j++) {
          videos[j].pause();
        }
      }
      slides[slideIndex1 - 1].style.display = "block";
      // Play video in the visible slide
      let visibleVideos = slides[slideIndex1 - 1].getElementsByTagName("video");
      for (let j = 0; j < visibleVideos.length; j++) {
        visibleVideos[j].currentTime = 0;
        visibleVideos[j].play();
      }
    } else if (slideshow === 2) {
      slides = document.getElementsByClassName("mySlides2");
      if (n > slides.length) { slideIndex2 = 1 }
      if (n < 1) { slideIndex2 = slides.length }
      for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";
        // Pause videos in non-visible slides
        let videos = slides[i].getElementsByTagName("video");
        for (let j = 0; j < videos.length; j++) {
          videos[j].pause();
        }
      }
      slides[slideIndex2 - 1].style.display = "block";
      // Play video in the visible slide
      let visibleVideos = slides[slideIndex2 - 1].getElementsByTagName("video");
      for (let j = 0; j < visibleVideos.length; j++) {
        visibleVideos[j].currentTime = 0;
        visibleVideos[j].play();
      }
    }
  }
  
  // Automatic slide change for both slideshows
  function autoSlide() {
    setInterval(function() {
      plusSlides(1, 1);
      plusSlides(1, 2);
    }, 13700); // Change slides every 14 seconds
  }
  
  // Start automatic slideshow
  autoSlide();
  
  </script>
  