<%- include('head.ejs') %>

<body oncontextmenu="return false";>
<div>
    <div class="overflow-x-hidden">

    <!-- NAVBAR -->
    <%- include('navbar.ejs') %> 

       <!--HEADER (Path)-->
       <div class="flex flex-col mt-20  md:flex-row md:justify-between">
        <div class="flex ml-3 mt-3 items-center">

        </div>
      </div>

    <div class="container pb-1 mx-auto mt-4">
        <!-- MAIN CONTENT-->
        <div class="md:flex">

            <!--SIDE BAR // ABOUT
        <div class="md:w-1/4">
          <div class="hidden md:block glass-bg ">
              <%- include('sidebar.ejs') %>
            </div>
        </div>

        <!--Main content // ABOUT-->
          <div class="w-full glass-bg ">
            <div class="p-3 pt-4">

              <div class="flex items-center justify-between border-b select-none mt-2">
              </div>
              <div class="content flex -mt-1">
                  <div class="font-semibold text-4xl mt-1 ml-4"> Contact: </div>
              </div>
              <div class="flex items-center justify-between border-b select-none mb-2">
              </div>
                
              <div class="mb-2">
                <p class="text-sms mx-3 ml-32 mt-4 mr-32">
                  Thank you for your interest in reaching out! I value your feedback, inquiries, and potential collaborations. To get in touch
                   with me, please fill out the form below, and I'll get back to you as soon as possible.
                </p>
                </div>
        
              <form class="text-xl mb-8" action="https://api.web3forms.com/submit" method="POST">
                  <input type="hidden" name="access_key" value="04401235-5250-464d-bf29-9d938d309924">
              
                  <p class="text-left mb-1">Name: </p>
                  <input class="p-2 glass-nav-b rounded-md border-solid border-2 " type="text" name="email" placeholder="Name" required>

                  <p class="text-left mt-2 mb-1">Email: </p>
                  <input class="p-2 glass-nav-b rounded-md border-solid border-2 " type="email" name="email" placeholder="Email Address" required>

                  <p class="text-left mt-2 mb-1"> Message:</p>
                  <textarea class="p-2 glass-nav-b pb-10 rounded-md border-solid border-2 resize-none" name="message" placeholder="Your Message..." required></textarea>
                  <input type="hidden" name="redirect" value="https://web3forms.com/success">
                  <br>
                  <button class="submitform" type="submit">Submit Form 
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class=" mt-1 mr-3 ml-1 float-right bi bi-send-fill" viewBox="0 0 16 16">
                    <path d="M15.964.686a.5.5 0 0 0-.65-.65L.767 5.855H.766l-.452.18a.5.5 0 0 0-.082.887l.41.26.001.002 4.995 3.178 3.178 4.995.002.002.26.41a.5.5 0 0 0 .886-.083l6-15Zm-1.833 1.89L6.637 10.07l-.215-.338a.5.5 0 0 0-.154-.154l-.338-.215 7.494-7.494 1.178-.471-.47 1.178Z"/>
                  </svg>
                  </button>
              </form>

              <div class="mb-2">
                <p class="text-sms ml-32 mr-32 mx-3">
                  Please provide accurate contact details so that I can respond promptly. I appreciate your understanding and assure you that 
                  your information will be kept confidential. 
                  <br>                   <br> 
                  Feel free to reach out regarding any questions, project proposals, partnership
                   opportunities, or just to say hello! I'm excited to connect and discuss how we can work together to achieve your goals.
                </p>
                <p class="text-sms float-right mr-8 mb-8 mt-2">
                    <b>Thank you for visiting!</b>
                </p>
                </div>

              </div>
          </div>
        </div>
      </div>

    <!--Footer (Path) -->
    <%- include('footer.ejs') %>
    </div>
</div>
</body>