


<div class="mt-2">

  <div style="position: relative; height: 200px;">
    <!-- SVG de Curva Naranja Tenue -->
    <svg class="absolute lg:-mt-10 mt-0 md:mt-24 sm:mt-32 w-full" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 190" style=" z-index: 0;">
        <path fill="#d96523" fill-opacity="1" d="M0,155L100,140C180,125,340,100,500,110C660,120,820,155,980,150C1140,145,1300,115,1380,105L1440,100V190H0Z"></path>
    </svg>
    
    <!-- SVG de Curva Original -->
    <svg class="absolute lg:-mt-10 mt-0 md:mt-24 sm:mt-32 w-full" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 200" style="z-index: 1;">
        <path fill="rgb(114, 179, 184)" fill-opacity="1" d="M0,160L80,149.3C160,139,320,117,480,128C640,139,800,181,960,181.3C1120,181,1280,139,1360,117.3L1440,96V200H0Z"></path>
    </svg>
</div>
  
  
  <div class="glass-nav-d font-main secondary-font w-full">
        <div  class="items-center justify-between py-8 md:flex">

          <div class="cursor-default mt-2 ml-20 flex items-start">
            <ul class="font-light ul2">
              <li>
                <a href="/"> 
                  Inicio
                </a>
              </li>
  
              <li>
                <a href="/servicios"> 
                  Servicios
                </a>
              </li>
              <li>
                <a href="/sucursales"> 
                  Sucursales
                </a>
              </li>

              <li>
                <a href="/contacto"> 
                  Contacto
                </a>
              </li>
              
              <li>
                <a href="/nosotros"> 
                  Nosotros
                </a>
              </li>
            </ul>
        </div>

          
          <div class="justify-center hidden ml-2 text-center md:block">
            <a>
              <img class="footer-logo" src="/public/images/logo-main.png">
               © 2025 LA WASH LAVANDERÍAS. Departamento de Marketing. Todos los derechos reservados.
            </a>
          </div>

          <div class="mr-20  flex justify-end text-right">
            <ul class="font-light ul2">
              <li>
                <a  href="https://maps.app.goo.gl/h6daoUaWThUeY8hd7"  target="_blank" rel="noopener noreferrer"> 
                  Google
                </a>
              </li>

              <li>
                <a  href="https://www.facebook.com/profile.php?id=61565761010536" target="_blank" rel="noopener noreferrer"> 
                  Facebook
                </a>
              </li>
            </ul>
          </div>

        </div>




    </div>
  </div>

    <a href="#">
      <div  id="msg-btn"class="message-button-mob sm:hidden md:hidden lg:block hidden">
                  <button class="close-btn" onclick="this.parentElement.style.display='none'">✕</button>
              <img class="message-button-img" src="/public/images/banner-mobile-floating.png">
      </div> 
    </a>

    <a href="#">
      <div  id="msg-btn"class="message-button-mob sm:block md:block lg:hidden hidden">
          <button class="close-btn" onclick="this.parentElement.style.display='none'">✕</button>
              <img class="" src="/public/images/banner-mobile-floating.png">
      </div> 
    </a>
