<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport">
<title>La Wash Lavanderías - México</title>
<meta name="description" content="La Wash es una cadena de lavanderías de autoservicio en México, ofrece renta de lavadoras y secadoras, lavado por encargo, tintorería, sistema de puntos, cafetería y entretenimiento para niños.">
<meta name="keywords" content="La Wash, lavanderías en México, lavandería en Iztapalapa, lavandería económica, renta de lavadoras y secadoras, lavado por encargo, tintorería, lavandería autoservicio, lavanderías con café gratis, lavanderías con entretenimiento para niños, lavanderías con sistema de puntos">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">

<link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;700&display=swap" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/prismjs@1.29.0/themes/prism.min.css" rel="stylesheet" />


<link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/public/assets/tailwind.css"/>
<link rel="stylesheet" type="text/css" href="/public/assets/style.css" />
<link rel="stylesheet" type="text/css" href="/public/assets/local_style.css"/>



    <link rel="icon" type="image/x-icon" href="/public/favicon.ico" />

</head>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-0X2RVH9KLJ"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-0X2RVH9KLJ');
</script>