<!doctype html>
<html>
<head>
<title>UI Library</title>
<meta name="description" content="A3">
<meta name="keywords" content="A3">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">

<link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;700&display=swap" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/prismjs@1.29.0/themes/prism.min.css" rel="stylesheet" />


<link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/public/assets/tailwind.css"/>
<link rel="stylesheet" type="text/css" href="/public/assets/style.css" />
<link rel="stylesheet" type="text/css" href="/public/assets/local_style.css"/>



    <link rel="shortcut icon" type="image/x-icon" href="/public/favicon.ico" />

</head>