<%- include('head.ejs') %>

<body oncontextmenu="return false;" class="relative overflow-x-hidden">

    <div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v20.0" nonce="cZYg02cO"></script>


    <!-- SVG Background -->
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid slice" class="absolute top-0 left-0 w-full h-full">
    <circle cx="95" cy="50" r="3" fill="#d2d3db" opacity="0.75" />       <!-- Partially off-screen -->
    <circle cx="56" cy="86" r="4" fill="#d2d3db" opacity="0.75" />
    <circle cx="65" cy="55" r="3" fill="#d2d3db" opacity="0.75" />
    <circle cx="40" cy="20" r="3" fill="#d2d3db" opacity="0.75" />
    <circle cx="75" cy="40" r="2" fill="#d2d3db" opacity="0.75" />
    <circle cx="35" cy="80" r="4" fill="#d2d3db" opacity="0.75" />
    <circle cx="15" cy="60" r="4" fill="#d2d3db" opacity="0.75" />
    <circle cx="70" cy="70" r="4" fill="#d2d3db" opacity="0.75" />
    <circle cx="35" cy="30" r="2" fill="#d2d3db" opacity="0.75" />
    <circle cx="78" cy="55" r="3" fill="#d2d3db" opacity="0.75" />
    <circle cx="70" cy="45" r="4" fill="#d2d3db" opacity="0.75" />
    <circle cx="8" cy="47" r="5" fill="#d2d3db" opacity="0.75" />        <!-- Partially off-screen -->
    <circle cx="72" cy="20" r="3" fill="#d2d3db" opacity="0.75" />
    <circle cx="20" cy="89" r="3" fill="#d2d3db" opacity="0.75" />       <!-- Partially off-screen -->
    <circle cx="55" cy="75" r="2" fill="#d2d3db" opacity="0.75" />
    <circle cx="15" cy="30" r="3" fill="#d2d3db" opacity="0.75" />
    <circle cx="25" cy="45" r="4" fill="#d2d3db" opacity="0.75" />
    <circle cx="45" cy="35" r="3" fill="#d2d3db" opacity="0.75" />
    <circle cx="60" cy="40" r="3" fill="#d2d3db" opacity="0.75" />
    <circle cx="38" cy="65" r="4" fill="#d2d3db" opacity="0.75" />
    <circle cx="28" cy="25" r="3" fill="#d2d3db" opacity="0.75" />

    <circle cx="64" cy="24" r="4" fill="#d2d3db" opacity="0.75" />
    <circle cx="84" cy="27" r="4" fill="#d2d3db" opacity="0.75" />
    <!-- Enhanced circles in the bottom-left and bottom-right portions, moved higher -->
    <circle cx="10" cy="75" r="6" fill="#d2d3db" opacity="0.75" />        <!-- Bigger and higher up -->
    <circle cx="20" cy="68" r="3" fill="#d2d3db" opacity="0.75" />        <!-- Bigger and higher up -->
    <circle cx="100" cy="66" r="4" fill="#d2d3db" opacity="0.75" />        <!-- Bigger and higher up -->
    <circle cx="86" cy="79" r="6" fill="#d2d3db" opacity="0.75" />        <!-- Bigger and higher up -->
</svg>

      

    <div>
        <div class="relative z-10"> <!-- Ensure content is above the SVG -->
            <!-- NAVBAR -->
            <%- include('navbar.ejs') %> 
    
            <!--HEADER (Path)-->
            <div class="flex flex-col mt-20 lg:mt-20 md:mt-48 sm:mt-48 md:flex-row md:justify-between">
                <div class="flex ml-3 mt-3 lg:mt-3 md:mt-24 sm:mt-24 items-center">
                    <div class="mt-0 lg:mt-0 md:mt-2 sm:mt-2">
                    </div>
                </div>
            </div>

<!-- First Slideshow Container -->
<div class="slideshow-container block sm:hidden md:hidden lg:block mt-8">
    <!-- Slide 1 -->
    <div class="mySlides1">
        <div class="banner">
            <video autoplay loop muted playsinline poster="fallback-image.jpg" style="width:100%; height:100%; object-fit:cover;">
                <source src="/public/Untitled design.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
    </div>
    <!-- Slide 2 -->
    <div class="mySlides1">
        <div class="banner">
            <video autoplay loop muted playsinline poster="fallback-image.jpg" style="width:100%; height:100%; object-fit:cover;">
                <source src="/public/Untitled Design (3).mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
    </div>
    <!-- Slide 3 -->
    <div class="mySlides1">
        <div class="banner">
            <video autoplay loop muted playsinline poster="fallback-image.jpg" style="width:100%; height:100%; object-fit:cover;">
                <source src="/public/Untitled Design (2).mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
    </div>

    <!-- Next/Prev controls for first slideshow 
    <a class="prev" onclick="plusSlides(-1, 1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1, 1)">&#10095;</a>
  -->
    
</div>

<!-- First Slideshow Container     MOBILE -->
<div class="relative mt-10 lg:mt-10 md:mt-8 sm:mt-8 mb-12 hidden sm:block md:block lg:hidden">
  
  <div class="banner">
    <img class="inset-0 w-full h-full opacity-0" src="/public/images/banner-mobile-3.jpg" alt="Top Background Image">
  </div>

  <!-- Slideshow Container -->
  <div class=" slideshow-container z-10 -mb-24 relative">
      <!-- Slide 1 -->
      <div class="mySlides3 fade">
          <div class="banner">
              <img class="inset-0 w-full h-full" src="/public/images/banner-mobile-1.jpg" alt="Top Background Image">
          </div>
      </div>
      <!-- Slide 2 -->
      <div class="mySlides3 fade">
          <div class="banner">
              <img class="inset-0 w-full h-full" src="/public/images/banner-mobile-2.jpg" alt="Top Background Image">
          </div>
      </div>
      <!-- Slide 3 -->
      <div class="mySlides3 fade">
          <div class="banner">
              <img class="inset-0 w-full h-full" src="/public/images/banner-mobile-3.jpg" alt="Top Background Image">
          </div>
      </div>

      <!-- Next/Prev controls for slideshow
      <a class="prev" onclick="plusSlides(-1, 3)">&#10094;</a>
      <a class="next" onclick="plusSlides(1, 3)">&#10095;</a>
       -->
  </div>
</div>

<div class="container lg:-mt-1 -mt-1 sm:-mt-1 md:-mt-1 mx-auto p-0 lg:p-0 sm:p-2 md:p-0 ">
    <!-- MAIN CONTENT -->
    <div class="md:flex md:flex-col-reverse lg:flex-row items-center">
        <!-- Main content // ABOUT -->
        <div class="grid grid-cols-3 sm:grid-cols-1 md:grid-cols-1 lg:grid-cols-3 gap-6 mt-8 font-semibold">

            <!-- Icon 1 -->
            <div class="text-center mt-3">
                <img class="w-5/6 lg:w-5/6 sm:w-full md:w-5/6 mx-auto icon-gray" src="/public/images/cafeteria-lawash-logo.png">
                <img class="w-5/6 mb-7 mx-auto icon-gray p-3 rounded-3xl transform rotate-6" src="/public/images/lawash-stock-1.jpg">

                <p class="text-2xl lg:text-3xl sm:text-4xl md:text-4xl ml-16 mr-16 lg:ml-16 lg:mr-16 md:ml-0 md:mr-0 sm:ml-0 sm:mr-0 mt-6 text-gray-600 font-normal">En la <span class="font-semibold">Cafetería La Wash</span> puedes disfrutar de una amplia selección de alimentos y botanas.</p>

            </div>
            
            <!-- Icon 2 -->
            <div class="text-center mt-3"> 
                <img class="w-5/6 lg:w-5/6 sm:w-full md:w-5/6 mx-auto icon-gray" src="/public/images/cinewash-lawash-logo.png">
                <img class="w-5/6 mb-7 mx-auto icon-gray p-3 rounded-3xl transform -rotate-6" src="/public/images/lawash-stock-2.jpg">

                <p class="text-2xl lg:text-3xl sm:text-4xl md:text-4xl ml-16 mr-16 lg:ml-16 lg:mr-16 md:ml-0 md:mr-0 sm:ml-0 sm:mr-0 mt-6 text-gray-600 font-normal">En <span class="font-semibold">Cine Wash</span>, los pequeños pueden disfrutar de películas mientras esperan.</p>

                
            </div>
          
            <!-- Icon 3 https://i.postimg.cc/rz6S6L94/image-2024-09-10-155403354.png https://i.postimg.cc/5y7MrwhC/image-2024-09-09-145351773.png  -->
            <div class="text-center mt-3 block lg:block md:hidden sm:hidden">
                <img class="w-5/6 lg:w-5/6 sm:w-full md:w-5/6 mx-auto icon-gray" src="/public/images/productos-lawash-logo.png">
                <img class="w-5/6 mb-7 mx-auto icon-gray  p-3 rounded-3xl transform rotate-6" src="/public/images/lawash-stock-3.jpg">

                <p class="text-2xl lg:text-3xl sm:text-4xl md:text-4xl ml-16 mr-16 lg:ml-16 lg:mr-16 md:ml-0 md:mr-0 sm:ml-0 sm:mr-0 mt-6 text-gray-600 font-normal">En la tienda de <span class="font-semibold">Productos La Wash</span> encontrarás productos de lavado, bebidas y dulces.</p>
                
            </div>
        </div>
    
        
    </div>

    <div class="md:flex md:flex-col-reverse lg:flex-row items-center">
        <div class="gap-4 sm:gap-6 md:gap-6 mt-8 font-semibold">
            <div class="text-center mt-3 hidden lg:hidden md:block sm:block">
                <img class="w-5/6 mx-auto icon-gray" src="/public/images/productos-lawash-logo.png">
                <img class="w-5/6 mb-7 mx-auto icon-gray p-3 rounded-3xl transform rotate-6" src="/public/images/lawash-stock-3.jpg">
                <p class="text-2xl lg:text-3xl sm:text-4xl md:text-4xl  ml-16 mr-16 lg:ml-16 lg:mr-16 md:ml-0 md:mr-0 sm:ml-0 sm:mr-0 mt-6 text-gray-600 font-normal">En la tienda de <span class="font-semibold">Productos La Wash</span> encontrarás productos de lavado, bebidas y dulces.</p>
                
            </div>
        </div>
    </div>
    
</div>

<div class="block sm:hidden md:hidden lg:block slideshow-container mt-8 videoad-posfix">
  <video autoplay loop muted playsinline poster="fallback-image.jpg" style="width:100%; height:100%; object-fit:cover;">
    <source src="/public/Untitled Design (4).mp4" type="video/mp4">
    Your browser does not support the video tag.
</video>
</div>

<!-- Second Slideshow Container -->
<div class="relative mt-10 lg:mt-10 md:mt-24 sm:mt-24 mb-12">
    <!-- Bottom Background Image -->
    <img class="absolute inset-0 w-full h-full object-cover" loading="lazy" src="/public/images/lawash-banner-base.png" alt="Bottom Background Image" style="z-index: 0;">

    <!-- Slideshow Container -->
    <div class=" slideshow-container z-10 -mb-24 relative">
        <!-- Slide 1 -->
        <div class="mySlides2 fade">
            <div class="banner">
                <img class="inset-0 w-full h-full" loading="lazy" src="/public/images/lawash-banner-1.png" alt="Top Background Image">
            </div>
        </div>
        <!-- Slide 2 -->
        <div class="mySlides2 fade">
            <div class="banner">
                <img class="inset-0 w-full h-full" loading="lazy" src="/public/images/lawash-banner-2.png" alt="Top Background Image">
            </div>
        </div>
        <!-- Slide 3 -->
        <div class="mySlides2 fade">
            <div class="banner">
                <img class="inset-0 w-full h-full" loading="lazy" src="/public/images/lawash-banner-3.png" alt="Top Background Image">
            </div>
        </div>

        <!-- Next/Prev controls for slideshow -->
        <a class="prev" onclick="plusSlides(-1, 2)">&#10094;</a>
        <a class="next" onclick="plusSlides(1, 2)">&#10095;</a>
    </div>
</div>


<div class="container pb-1 mx-auto">
  <!-- MAIN CONTENT-->
  <div class="md:flex">
    <!--Main content // ABOUT-->
    <div class="w-full glass-bg">
      <div class="p-3 pt-2">      

      </div>
    </div>
  </div>
</div>

          
<div class="container lg:-mt-1 -mt-1 sm:mt-5 md:mt-10 mx-auto p-0 lg:p-0 sm:p-2 md:p-0 ">

  <p class="text-2xl   text-gray-600 font-normal italic text-left ml-44 mb-2 sm:text-4xl md:text-4xl">Reseñas de Google:</p>
    <!-- MAIN CONTENT -->
    <div class="md:flex md:flex-col-reverse lg:flex-row items-center">
        <!-- Main content // ABOUT -->
        <div class="grid grid-cols-3 sm:grid-cols-1 md:grid-cols-1 lg:grid-cols-3 gap-1 lg:gap-1 sm:gap-16 md:gap-16 mt-8 font-semibold">

            <!-- Icon 1 -->
            <div class="text-center mt-3">
                <div class="flex justify-center space-x-3 mx-auto text-yellow-600">
                    <svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                      <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                      <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                      <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                      <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                        <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                      </svg>
                </div>
                <p class="text-2xl lg:text-2xl md:text-4xl sm:text-4xl ml-16 mr-16 lg:ml-16 lg:mr-16 md:ml-0 md:mr-0 sm:ml-0 sm:mr-0 mt-4 text-gray-600 italic font-normal">"Excelente servicio, personal muy atento y lavadoras de gran calidad. Además, cuentan con un cine para los pequeños."</p>
                <p class="text-2xl lg:text-2xl md:text-4xl sm:text-4xl ml-16 mr-16 lg:ml-16 lg:mr-16 md:ml-0 md:mr-0 sm:ml-0 sm:mr-0 mt-4 text-gray-600 font-semibold italic float-right">Marlen</p>
          
                <!-- 
                <img class="w-2/3 sm:w-full md:w-full lg:w-2/3 mb-7 mx-auto icon-gray p-3 rounded-3xl transform rotate-6" src="https://i.postimg.cc/sXZQ3h8Q/image-2024-09-10-154000994.png">
                -->            
            </div>
            
            <!-- Icon 2 -->
            <div class="text-center mt-3">
                <div class="flex justify-center space-x-3 mx-auto text-yellow-600">
                    <svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                      <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                      <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                      <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                      <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
                        <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.56.56 0 0 0-.163-.505L1.71 6.745l4.052-.576a.53.53 0 0 0 .393-.288L8 2.223l1.847 3.658a.53.53 0 0 0 .393.288l4.052.575-2.906 2.77a.56.56 0 0 0-.163.506l.694 3.957-3.686-1.894a.5.5 0 0 0-.461 0z"/>
                      </svg>
                </div>
                <p class="text-2xl lg:text-2xl md:text-4xl sm:text-4xl ml-16 mr-16 lg:ml-16 lg:mr-16 md:ml-0 md:mr-0 sm:ml-0 sm:mr-0 mt-4 text-gray-600 italic font-normal">"Buen servicio del personal, lugar limpio y cómodo. Perfecto para esperar mientras termina tu lavado."</p>
                <p class="text-2xl lg:text-2xl md:text-4xl sm:text-4xl ml-16 mr-16 lg:ml-16 lg:mr-16 md:ml-0 md:mr-0 sm:ml-0 sm:mr-0 mt-4 text-gray-600 italic font-semibold float-right">Daphne</p>
          
                <!-- 
                <img class="w-2/3 sm:w-full md:w-full lg:w-2/3 mb-7 mx-auto icon-gray p-3 rounded-3xl transform rotate-6" src="https://i.postimg.cc/sXZQ3h8Q/image-2024-09-10-154000994.png">
                -->            
            </div>
          
            <!-- Icon 3 https://i.postimg.cc/rz6S6L94/image-2024-09-10-155403354.png https://i.postimg.cc/5y7MrwhC/image-2024-09-09-145351773.png  -->
            <div class="text-center mt-3">
                <div class="flex justify-center space-x-3 mx-auto text-yellow-600">
                    <svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                      <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                      <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                      <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                      <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                        <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                      </svg>
                </div>
                <p class="text-2xl lg:text-2xl md:text-4xl sm:text-4xl ml-16 mr-16 lg:ml-16 lg:mr-16 md:ml-0 md:mr-0 sm:ml-0 sm:mr-0 mt-4 text-gray-600 italic font-normal">"Excelente lugar para lavar ropa. Las chicas son muy amables, los precios accesibles, y el lugar está muy limpio y bonito."</p>
                <p class="text-2xl lg:text-2xl md:text-4xl sm:text-4xl ml-16 mr-16 lg:ml-16 lg:mr-16 md:ml-0 md:mr-0 sm:ml-0 sm:mr-0 mt-4 text-gray-600 italic font-semibold float-right">Gustavo</p>
          
                <!-- 
                <img class="w-2/3 sm:w-full md:w-full lg:w-2/3 mb-7 mx-auto icon-gray p-3 rounded-3xl transform rotate-6" src="https://i.postimg.cc/sXZQ3h8Q/image-2024-09-10-154000994.png">
                -->            
            </div>
        </div>
    
        
    </div>

    
    



</div>
              
<div class="container mx-auto">
  <!-- MAIN CONTENT -->
  <div class="md:flex md:flex-col-reverse lg:flex-row items-center justify-center mt-12">
      <!-- Main content // ABOUT -->
      <div class="grid grid-cols-3 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 gap-0 lg:gap-0 sm:gap-0 md:gap-0 mt-8 font-semibold justify-center">

          <!-- Icon 1 -->
          <div class="text-center"> 
              <img class="w-full sm:w-full md:w-full lg:w-w-full mx-auto icon-gray transform rounded-tl-3xl" loading="lazy" src="/public/images/lawash-gallery-1.jpg">
          </div>

          <!-- Icon 2 -->
          <div class="text-center">
              <img class="w-full sm:w-full md:w-full lg:w-w-full  mx-auto icon-gray transform rounded-none lg:rounded-none md:rounded-tr-3xl" loading="lazy" src="/public/images/lawash-gallery-2.jpg">
          </div>

          <!-- Icon 3 -->
          <div class="text-center">
              <img class="w-full sm:w-full md:w-full lg:w-w-full  mx-auto icon-gray transform rounded-tr-3xl lg:rounded-tr-3xl sm:rounded-none md:rounded-none " loading="lazy" src="/public/images/lawash-gallery-3.jpg">
          </div>

          <!-- Icon 4 -->
          <div class="text-center">
              <img class="w-full sm:w-full md:w-full lg:w-w-full  mx-auto icon-gray transform rounded-bl-3xl lg:rounded-bl-3xl md:rounded-none sm:rounded-none " loading="lazy" src="/public/images/lawash-gallery-4.jpg">
          </div>

          <!-- Icon 5 -->
          <div class="text-center">
              <img class="w-full sm:w-full md:w-full lg:w-w-full  mx-auto icon-gray transform rounded-none lg:rounded-none md:rounded-bl-3xl sm:rounded-bl-3xl" loading="lazy" src="/public/images/lawash-gallery-5.jpg">
          </div>

          <!-- Icon 6 -->
          <div class="text-center">
              <img class="ww-full sm:w-full md:w-full lg:w-w-full  mx-auto icon-gray transform rounded-br-3xl" loading="lazy" src="/public/images/lawash-gallery-6.jpg">
          </div>

      </div>
  </div>
</div>

    
            <!--Footer (Path) -->
            <%- include('footer.ejs') %>
        </div>
    </div>
</body>

<script src="https://cdn.jsdelivr.net/npm/prismjs@1.29.0/prism.min.js"></script>
<script>



let slideIndex1 = 1;
let slideIndex2 = 1;
let slideIndex3 = 1;

showSlides(slideIndex1, 1); // Initialize first slideshow
showSlides(slideIndex2, 2); // Initialize second slideshow
showSlides(slideIndex3, 3); // Initialize third slideshow

// Function to advance to the next slide
function plusSlides(n, slideshow) {
  if (slideshow === 1) {
    showSlides(slideIndex1 += n, 1);
  } else if (slideshow === 2) {
    showSlides(slideIndex2 += n, 2);
  } else if (slideshow === 3) {
    showSlides(slideIndex3 += n, 3);
  }
}

// Function to show a specific slide
function showSlides(n, slideshow) {
  let i;
  let slides;

  if (slideshow === 1) {
    slides = document.getElementsByClassName("mySlides1");
    if (n > slides.length) { slideIndex1 = 1; }
    if (n < 1) { slideIndex1 = slides.length; }
    for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
      let videos = slides[i].getElementsByTagName("video");
      for (let j = 0; j < videos.length; j++) {
        videos[j].pause();
      }
    }
    slides[slideIndex1 - 1].style.display = "block";
    let visibleVideos = slides[slideIndex1 - 1].getElementsByTagName("video");
    for (let j = 0; j < visibleVideos.length; j++) {
      visibleVideos[j].currentTime = 0;
      visibleVideos[j].play();
    }
  } else if (slideshow === 2) {
    slides = document.getElementsByClassName("mySlides2");
    if (n > slides.length) { slideIndex2 = 1; }
    if (n < 1) { slideIndex2 = slides.length; }
    for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
      let videos = slides[i].getElementsByTagName("video");
      for (let j = 0; j < videos.length; j++) {
        videos[j].pause();
      }
    }
    slides[slideIndex2 - 1].style.display = "block";
    let visibleVideos = slides[slideIndex2 - 1].getElementsByTagName("video");
    for (let j = 0; j < visibleVideos.length; j++) {
      visibleVideos[j].currentTime = 0;
      visibleVideos[j].play();
    }
  } else if (slideshow === 3) {
    slides = document.getElementsByClassName("mySlides3");
    if (n > slides.length) { slideIndex3 = 1; }
    if (n < 1) { slideIndex3 = slides.length; }
    for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
      let videos = slides[i].getElementsByTagName("video");
      for (let j = 0; j < videos.length; j++) {
        videos[j].pause();
      }
    }
    slides[slideIndex3 - 1].style.display = "block";
    let visibleVideos = slides[slideIndex3 - 1].getElementsByTagName("video");
    for (let j = 0; j < visibleVideos.length; j++) {
      visibleVideos[j].currentTime = 0;
      visibleVideos[j].play();
    }
  }
}

// Automatic slide change for all slideshows
function autoSlide() {
  setInterval(function() {
    plusSlides(1, 1);
    plusSlides(1, 2);
    plusSlides(1, 3);
  }, 13700); // Change slides every 14 seconds
}

// Start automatic slideshow
autoSlide();

</script>
