

<body oncontextmenu="return false";>
<div>
    <div class="overflow-x-hidden">

    <!-- NAVBAR -->
    <%- include('navbar.ejs') %> 

    <!--HEADER (Path) -->
    <%- include('header.ejs') %> 


    <!--SIDE BAR // MAIN CONTENT-->
    <%- include('body.ejs') %>


    <%- include('footer.ejs') %> 
    </div>
</div>
</body>
</html>