

<nav class="font-main fixed top-0 w-full z-40">

  <!-- TOPBAR / TEL y MAIL / TRABAJOS y REDES -->
  <div class="glass-nav-c mx-auto sm:mx-14 ">
    <div class="flex items-center justify-between h-9">

      <div class="flex items-center mr-auto md:flex text-xl md:text-xl sm:text-base">
        
        <a href="/components" class="px-3 py-2 ml-4  hover-grow rounded-md"> 
          +52 55 9372 2187
        </a>

        <a href="/contact" class="px-3 py-2 ml-6 hover-grow rounded-md"> 
          consultas@lawashlavanderias.com   
        </a>
      </div>

      <div class="flex items-center ml-auto md:flex">
        
        <a href="/components" class="px-3 py-2 hover-grow rounded-md"> 
          BOLSA DE TRABAJO
        </a>

        <a href="/about" class="sm:hidden md:block px-3 py-2 ml-6 hover-tilt rounded-md"> 
          A  
        </a>

        <a href="/about" class="sm:hidden md:block  px-3 py-2 ml-6 hover-tilt rounded-md"> 
          B   
        </a>

        <a href="/contact" class="sm:hidden md:block px-3 mr-4 py-2 ml-6 hover-grow rounded-md"> 
          C
        </a>
      </div>

      <div class="flex -mr-2 hidden">
        <button class="inline-flex items-center justify-center p-2 rounded-md hover:text-white hover:bg-gray-700">
          <svg class="block w-6 h-6" stroke="currentColor" fill="none" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
          </svg>
        </button>
      </div>
    </div>
  </div>


  
  <!-- NAVBAR -->
  <div class="glass-nav px-4 mx-auto max-w-7xl sm:px-6 lg:px-8">
    <div class="flex items-center justify-between h-20">
      <div class="flex items-center">
        <div class="cursor-default flex items-start">
          <a href="/"  class="hover-grow"> <img class="logo-img" src="https://i.postimg.cc/65rgSL1F/image-2024-08-20-165238290.png"> </a>
        </div>
      </div>
      <div class="flex items-center font-semibold  ml-auto mr-24 sm:mr-0 md:flex text-lg md:text-lg sm:text-sm">
        
        <a href="/components" class="px-3 py-2 hover-tilt rounded-md"> 
          SERVICIOS
        </a>

        <a href="/about" class=" px-3 py-2 ml-6 hover-tilt rounded-md"> 
          SUCURSALES  
        </a>

        
        <a href="/about" class=" px-3 py-2 ml-6 hover-tilt rounded-md"> 
          NOSOTROS     
        </a>


        <a href="/contact" class="px-3 py-2 ml-6 hover-tilt rounded-md"> 
          CONTACTO  
        </a>
      </div>
      <div class="flex -mr-2 hidden">
        <button class="inline-flex items-center justify-center p-2 rounded-md hover:text-white hover:bg-gray-700">
          <svg class="block w-6 h-6" stroke="currentColor" fill="none" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
          </svg>
        </button>
      </div>
    </div>
  </div>
</nav>

  

