

<nav class="font-main fixed top-0 w-full z-40 glass-nav">
  <div class="px-4 mx-auto max-w-7xl sm:px-6 lg:px-8">
    <div class="flex items-center justify-between h-20">
      <div class="flex items-center">
        <div class="cursor-default flex items-start">
          <a href="/" class="talkbubble hover-grow"> UI-Lib </a>
        </div>
      </div>
      <div class="flex items-center ml-auto mr-24 md:flex">
        
        <a href="/components" class="px-3 py-2 font-light hover-grow rounded-md"> 
          Components
        </a>

        <!--
        <a href="/about" class=" px-3 py-2 ml-6 font-light hover-tilt rounded-md"> 
          About
        </a>
         -->

        <a href="/contact" class="px-3 py-2 ml-6 font-light hover-grow rounded-md"> 
          Contact
        </a>
      </div>
      <div class="flex -mr-2 hidden">
        <button class="inline-flex items-center justify-center p-2 rounded-md hover:text-white hover:bg-gray-700">
          <svg class="block w-6 h-6" stroke="currentColor" fill="none" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
          </svg>
        </button>
      </div>
    </div>
  </div>
</nav>

  

