

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script src="https://code.jquery.com/jquery-3.6.0.js"></script>


<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>

<script src="https://combinatronics.com/yegax/web-portfolio-pvg/Dynamic-Redesign/js/gallery.js"></script>

<script src="https://cdn.jsdelivr.net/npm/prismjs@1.29.0/prism.min.js"></script>


<nav class="font-main fixed top-0 w-full z-40">

  <!-- TOPBAR / TEL y MAIL / TRABAJOS y REDES -->
  <div class="glass-nav-c mx-auto sm:mx-14 md:mx-14 block lg:block md:hidden sm:hidden">
    <div class="flex items-center justify-between h-9">

      <div class="flex items-center mt-1 mr-auto md:flex text-xl md:text-base sm:text-base">
        
        <a href="tel:+525593722187" class="px-3 ml-4  hover-grow rounded-md"> 
          +52 55 9372 2187
        </a>

        <a href="mailto:contacto@lawashlavanderias.com " class="px-3 ml-6 hover-grow rounded-md"> 
          contacto@lawashlavanderias.com   
        </a>
      </div>

      <div class="flex items-center mt-1 ml-auto md:flex">
        
          <!-- TOPBAR / TEL y MAIL / TRABAJOS y REDES 
        <a href="/components" class="px-3 hover-grow rounded-md"> 
          BOLSA DE TRABAJO
        </a>-->

        <a href="https://maps.app.goo.gl/h6daoUaWThUeY8hd7"  target="_blank" rel="noopener noreferrer" class="sm:hidden md:hidden lg:block block px-3 ml-6 hover-tilt rounded-md"> 
          <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" fill="currentColor" class="bi bi-google     float-left mx-2 mt-1" viewBox="0 0 16 16">
            <path d="M15.545 6.558a9.4 9.4 0 0 1 .139 1.626c0 2.434-.87 4.492-2.384 5.885h.002C11.978 15.292 10.158 16 8 16A8 8 0 1 1 8 0a7.7 7.7 0 0 1 5.352 2.082l-2.284 2.284A4.35 4.35 0 0 0 8 3.166c-2.087 0-3.86 1.408-4.492 3.304a4.8 4.8 0 0 0 0 3.063h.003c.635 1.893 2.405 3.301 4.492 3.301 1.078 0 2.004-.276 2.722-.764h-.003a3.7 3.7 0 0 0 1.599-2.431H8v-3.08z"/>
          </svg>
        </a>

        <a href="/about" class="sm:hidden md:hidden lg:block block  px-3 ml-6 hover-tilt rounded-md"> 
          <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" fill="currentColor" class="bi bi-youtube  float-left mx-2 mt-1" viewBox="0 0 16 16">
            <path d="M8.051 1.999h.089c.822.003 4.987.033 6.11.335a2.01 2.01 0 0 1 1.415 1.42c.101.38.172.883.22 1.402l.01.104.022.26.008.104c.065.914.073 1.77.074 1.957v.075c-.001.194-.01 1.108-.082 2.06l-.008.105-.009.104c-.05.572-.124 1.14-.235 1.558a2.01 2.01 0 0 1-1.415 1.42c-1.16.312-5.569.334-6.18.335h-.142c-.309 0-1.587-.006-2.927-.052l-.17-.006-.087-.004-.171-.007-.171-.007c-1.11-.049-2.167-.128-2.654-.26a2.01 2.01 0 0 1-1.415-1.419c-.111-.417-.185-.986-.235-1.558L.09 9.82l-.008-.104A31 31 0 0 1 0 7.68v-.123c.002-.215.01-.958.064-1.778l.007-.103.003-.052.008-.104.022-.26.01-.104c.048-.519.119-1.023.22-1.402a2.01 2.01 0 0 1 1.415-1.42c.487-.13 1.544-.21 2.654-.26l.17-.007.172-.006.086-.003.171-.007A100 100 0 0 1 7.858 2zM6.4 5.209v4.818l4.157-2.408z"/>
          </svg>   
        </a>

        <a href="https://www.facebook.com/profile.php?id=61565761010536" class="sm:hidden md:hidden lg:block block px-3 mr-4 ml-6 hover-grow rounded-md"> 
          <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" fill="currentColor" class="bi bi-facebook  float-left mx-2 mt-1" viewBox="0 0 16 16">
            <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951"/>
          </svg>
        </a>
      </div>

    </div>
  </div>

    <!-- TOPBAR / TEL y MAIL / TRABAJOS y REDES      MOBILE -->
  <div class="glass-nav-c-mobile mx-auto sm:mx-14 md:mx-14 hidden lg:hidden mg:block sm:block">
    <div class="flex items-center justify-between h-9">

      <div class="mt-8 flex items-center mr-auto md:flex text-xl md:text-2xl sm:text-2xl font-medium">
        
        <a href="tel:+525593722187" class="px-3 ml-4  hover-grow rounded-md"> 
          +52 55 9372 2187
        </a>

        <a href="mailto:contacto@lawashlavanderias.com " class="px-3 ml-8 hover-grow rounded-md"> 
          contacto@lawashlavanderias.com   
        </a>
      </div>

      <div class="mt-8 flex items-center ml-auto md:flex">
        
          <!-- TOPBAR / TEL y MAIL / TRABAJOS y REDES 
        <a href="/components" class="px-3 hover-grow rounded-md"> 
          BOLSA DE TRABAJO
        </a>-->

        <a href="https://maps.app.goo.gl/h6daoUaWThUeY8hd7"  target="_blank" rel="noopener noreferrer" class="px-3 ml-6 hover-tilt rounded-md"> 
          <svg xmlns="http://www.w3.org/2000/svg" width="39" height="39" fill="currentColor" class="bi bi-google     float-left mx-2 mt-1" viewBox="0 0 16 16">
            <path d="M15.545 6.558a9.4 9.4 0 0 1 .139 1.626c0 2.434-.87 4.492-2.384 5.885h.002C11.978 15.292 10.158 16 8 16A8 8 0 1 1 8 0a7.7 7.7 0 0 1 5.352 2.082l-2.284 2.284A4.35 4.35 0 0 0 8 3.166c-2.087 0-3.86 1.408-4.492 3.304a4.8 4.8 0 0 0 0 3.063h.003c.635 1.893 2.405 3.301 4.492 3.301 1.078 0 2.004-.276 2.722-.764h-.003a3.7 3.7 0 0 0 1.599-2.431H8v-3.08z"/>
          </svg>
        </a>

        <a href="/about" class="px-3 ml-6 hover-tilt rounded-md"> 
          <svg xmlns="http://www.w3.org/2000/svg" width="39" height="39" fill="currentColor" class="bi bi-youtube  float-left mx-2 mt-1" viewBox="0 0 16 16">
            <path d="M8.051 1.999h.089c.822.003 4.987.033 6.11.335a2.01 2.01 0 0 1 1.415 1.42c.101.38.172.883.22 1.402l.01.104.022.26.008.104c.065.914.073 1.77.074 1.957v.075c-.001.194-.01 1.108-.082 2.06l-.008.105-.009.104c-.05.572-.124 1.14-.235 1.558a2.01 2.01 0 0 1-1.415 1.42c-1.16.312-5.569.334-6.18.335h-.142c-.309 0-1.587-.006-2.927-.052l-.17-.006-.087-.004-.171-.007-.171-.007c-1.11-.049-2.167-.128-2.654-.26a2.01 2.01 0 0 1-1.415-1.419c-.111-.417-.185-.986-.235-1.558L.09 9.82l-.008-.104A31 31 0 0 1 0 7.68v-.123c.002-.215.01-.958.064-1.778l.007-.103.003-.052.008-.104.022-.26.01-.104c.048-.519.119-1.023.22-1.402a2.01 2.01 0 0 1 1.415-1.42c.487-.13 1.544-.21 2.654-.26l.17-.007.172-.006.086-.003.171-.007A100 100 0 0 1 7.858 2zM6.4 5.209v4.818l4.157-2.408z"/>
          </svg>   
        </a>

        <a href="https://www.facebook.com/profile.php?id=61565761010536" class="px-3 mr-4 ml-6 hover-grow rounded-md"> 
          <svg xmlns="http://www.w3.org/2000/svg" width="39" height="39" fill="currentColor" class="bi bi-facebook  float-left mx-2 mt-1" viewBox="0 0 16 16">
            <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951"/>
          </svg>
        </a>
      </div>

    </div>
  </div>

  
  <!-- NAVBAR -->
  <div class="glass-nav px-4 mx-auto max-w-7xl sm:px-6 md:px-6 lg:px-8 block lg:block md:hidden sm:hidden">
    <div class="flex items-center justify-between h-20">
      <div class="flex items-center">
        <div class="cursor-default flex items-start">
          <a href="/"  class="hover-grow"> <img class="logo-img" src="https://i.postimg.cc/0QsPM9W2/image-2024-09-07-182858900.png"> </a>
        </div>
      </div>
      <div class="flex text-gray-800 items-center font-semibold mt-3 ml-auto mr-24 sm:mr-0 md:mr-0 md:flex text-lg md:text-lg sm:text-sm">

        <a href="/" class=" hover-grow rounded-md"> 
          INICIO
        </a>

        <a href="/servicios" class="ml-10 hover-grow rounded-md"> 
          SERVICIOS
        </a>

        <a href="/sucursales" class="ml-10 hover-grow rounded-md"> 
          SUCURSALES  
        </a>

          <!--
        <a href="/nosotros" class="ml-10 hover-grow rounded-md"> 
          NOSOTROS     
        </a>
-->

        <a href="/contacto" class=" ml-10 hover-grow rounded-md"> 
          CONTACTO  
        </a>
      </div>
      <div class="flex -mr-2 hidden">
        <button class="inline-flex items-center justify-center p-2 rounded-md hover:text-white hover:bg-gray-700">
          <svg class="block w-6 h-6" stroke="currentColor" fill="none" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
          </svg>
        </button>
      </div>
    </div>
  </div>

<!-- NAVBAR MOBILE -->
<div class="glass-nav-mobile mx-auto max-w-7xl px-8 hidden lg:hidden mg:block sm:block">
  <div class="flex items-center justify-between h-20">
    <div class="flex items-center">
      <div class="cursor-default flex items-start">
        <a href="/" class="hover-grow">
          <img class="logo-img-mobile" src="https://i.postimg.cc/0QsPM9W2/image-2024-09-07-182858900.png">
        </a>
      </div>
    </div>

    <div class="flex mt-32 text-gray-800 items-center font-semibold ml-auto mr-24 sm:mr-0 md:mr-0 md:flex text-lg md:text-lg sm:text-sm">

      <div id="menu-dropbar" class=" mr-6 mobile-navbar-hide">
        <a href="/">INICIO</a>
        <a href="/servicios" class="ml">SERVICIOS</a>
        <a href="/sucursales" class="ml-0">SUCURSALES</a>
        <a href="/contacto" class="ml-0">CONTACTO</a>
      </div>

      <div class="flex -mr-2">
        <button id="menu-btn" class="inline-flex items-center justify-center p-2 rounded-md hover:bg-gray-500">
          <svg class="block w-20 h-20" stroke="currentColor" fill="none" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
          </svg>
        </button>
      </div>


    </div>


  </div>
</div>


</nav>

  
<script>
  $(document).ready(function() {
      $('#menu-btn').click(function() {
          $('#menu-dropbar').toggleClass('mobile-navbar-hide'); // Mostrar/ocultar todos los menús
      });
  });
</script>
