<%- include('head.ejs') %>

<body oncontextmenu="return false;" class="relative overflow-x-hidden">
    <!-- SVG Background -->
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid slice" class="absolute top-0 left-0 w-full h-full">
    <circle cx="95" cy="50" r="3" fill="#d2d3db" opacity="0.75" />       <!-- Partially off-screen -->
    <circle cx="56" cy="86" r="4" fill="#d2d3db" opacity="0.75" />
    <circle cx="65" cy="55" r="3" fill="#d2d3db" opacity="0.75" />
    <circle cx="40" cy="20" r="3" fill="#d2d3db" opacity="0.75" />
    <circle cx="75" cy="40" r="2" fill="#d2d3db" opacity="0.75" />
    <circle cx="35" cy="80" r="4" fill="#d2d3db" opacity="0.75" />
    <circle cx="15" cy="60" r="4" fill="#d2d3db" opacity="0.75" />
    <circle cx="70" cy="70" r="4" fill="#d2d3db" opacity="0.75" />
    <circle cx="35" cy="30" r="2" fill="#d2d3db" opacity="0.75" />
    <circle cx="78" cy="55" r="3" fill="#d2d3db" opacity="0.75" />
    <circle cx="70" cy="45" r="4" fill="#d2d3db" opacity="0.75" />
    <circle cx="8" cy="47" r="5" fill="#d2d3db" opacity="0.75" />        <!-- Partially off-screen -->
    <circle cx="72" cy="20" r="3" fill="#d2d3db" opacity="0.75" />
    <circle cx="20" cy="89" r="3" fill="#d2d3db" opacity="0.75" />       <!-- Partially off-screen -->
    <circle cx="55" cy="75" r="2" fill="#d2d3db" opacity="0.75" />
    <circle cx="15" cy="30" r="3" fill="#d2d3db" opacity="0.75" />
    <circle cx="25" cy="45" r="4" fill="#d2d3db" opacity="0.75" />
    <circle cx="45" cy="35" r="3" fill="#d2d3db" opacity="0.75" />
    <circle cx="60" cy="40" r="3" fill="#d2d3db" opacity="0.75" />
    <circle cx="38" cy="65" r="4" fill="#d2d3db" opacity="0.75" />
    <circle cx="28" cy="25" r="3" fill="#d2d3db" opacity="0.75" />

    <circle cx="64" cy="24" r="4" fill="#d2d3db" opacity="0.75" />
    <circle cx="84" cy="27" r="4" fill="#d2d3db" opacity="0.75" />
    <!-- Enhanced circles in the bottom-left and bottom-right portions, moved higher -->
    <circle cx="10" cy="75" r="6" fill="#d2d3db" opacity="0.75" />        <!-- Bigger and higher up -->
    <circle cx="20" cy="68" r="3" fill="#d2d3db" opacity="0.75" />        <!-- Bigger and higher up -->
    <circle cx="100" cy="66" r="4" fill="#d2d3db" opacity="0.75" />        <!-- Bigger and higher up -->
    <circle cx="86" cy="79" r="6" fill="#d2d3db" opacity="0.75" />        <!-- Bigger and higher up -->
</svg>

      

    <div>
        <div class="relative z-10"> <!-- Ensure content is above the SVG -->
            <!-- NAVBAR -->
            <%- include('navbar.ejs') %> 
    
            <!--HEADER (Path)-->
            <div class="flex flex-col mt-20 md:flex-row md:justify-between">
                <div class="flex ml-3 mt-3 items-center">
                </div>
            </div>

<!-- Slideshow Container -->
<div class="slideshow-container mt-8">
    <!-- Slide 1 -->
    <div class="mySlides fade">
        <div class="banner">
            <video autoplay loop muted playsinline poster="fallback-image.jpg" style="width:100%; height:100%; object-fit:cover;">
                <source src="/public/Untitled design.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
    </div>
    <!-- Slide 2 https://i.postimg.cc/PqGr0zN4/image-2024-08-24-010731970.png-->
    <div class="mySlides fade">
        <div class="banner">
            <video autoplay loop muted playsinline poster="fallback-image.jpg" style="width:100%; height:100%; object-fit:cover;">
                <source src="/public/Untitled Design (3).mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
    </div>
    <!-- Slide 3 -->
    <div class="mySlides fade">
        <div class="banner">
            <video autoplay loop muted playsinline poster="fallback-image.jpg" style="width:100%; height:100%; object-fit:cover;">
                <source src="/public/Untitled Design (2).mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
    </div>

    <!-- Next/Prev controls -->
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
</div>

  




<div class="container pb-1 mx-auto mt-6">
  <!-- MAIN CONTENT-->
  <div class="md:flex">
    <!--Main content // ABOUT-->
    <div class="w-full glass-bg">
      <div class="p-3 pt-2">

        <div class="content flex -mt-1">
            <div class="font-semibold text-4xl mt-1 ml-4"> Servicios: </div>
        </div>

    <!--    
        <div class="content -mt-1">
          <p class="font-semibold text-4xl mt-1 ml-4 text-center">La Wash Lavanderías</p>
        </div>
    -->

    <div class="grid grid-cols-2 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-6 gap-4 sm:gap-2 md:gap-2 mt-8  font-semibold">

        <!-- Icon 1 -->
        <div class="text-center">
            <img class="w-2/3 sm:w-2/3 md:w-2/3 lg:w-2/3 mx-auto icon-gray" src="https://i.postimg.cc/fbHqhfxp/image-2024-08-23-171314776.png">
            <p class="text-lg md:text-2xl lg:text-lg mt-2">Lavado Autoservicio</p>
            <p class="text-sm lg:text-base md:text-xl mt-1 m-2 text-gray-600">Lavadoras comerciales de <span class="font-bold">10kg</span> y <span class="font-bold">20kg</span> que garantizan una limpieza profunda en un tiempo óptimo.</p>
        </div>
        
        <!-- Icon 2 -->
        <div class="text-center">
            <img class="w-2/3 sm:w-2/3 md:w-2/3 lg:w-2/3 mx-auto icon-gray" src="https://i.postimg.cc/g2s6MSp9/image-2024-08-23-170950739.png">
            <p class="text-lg md:text-2xl lg:text-lg  mt-2">Secado Autoservicio</p>
            <p class="text-sm lg:text-base md:text-xl mt-1 m-2 mt-1 text-gray-600">Secadoras comerciales de <span class="font-bold">15kg</span> que garantizan un secado completo con rapidez y cuidado para cada prenda.</p>
        </div>
      
        <!-- Icon 3 -->
        <div class="text-center">
            <img class="w-2/3 sm:w-2/3 md:w-2/3 lg:w-2/3 mx-auto icon-gray" src="https://i.postimg.cc/RVFhTcdh/image-2024-08-23-174632939.png">
            <p class="text-lg md:text-2xl lg:text-lg mt-2">Lavado por Encargo</p>
            <p class="text-sm lg:text-base md:text-xl mt-1 m-2 mt-1 text-gray-600">Lavado, secado y doblado con detergentes y suavizantes de alta calidad. También contamos con tintorería.</p>
        </div>
      
        <!-- Icon 4 -->
        <div class="text-center">
            <img class="w-2/3 sm:w-2/3 md:w-2/3 lg:w-2/3 mx-auto icon-gray" src="https://i.postimg.cc/66GcHvQW/image-2024-08-23-175528954.png">
            <p class="text-lg md:text-2xl lg:text-lg mt-2">Café y Té Gratis</p>
            <p class="text-sm lg:text-base md:text-xl mt-1 m-2 mt-1 text-gray-600">Ofrecemos café y té gratuitos mientras esperas. Además, tenemos una gran selección de botanas a la venta.</p>
        </div>
      
        <!-- Icon 5 -->
        <div class="text-center">
            <img class="w-2/3 sm:w-2/3 md:w-2/3 lg:w-2/3 mx-auto icon-gray" src="https://i.postimg.cc/RhbKQtsH/image-2024-08-23-183626792.png">
            <p class="text-lg md:text-2xl lg:text-lg mt-2">Productos de Lavado</p>
            <p class="text-sm lg:text-base md:text-xl mt-1 m-2 mt-1 text-gray-600">En venta productos de lavado y cuidado de ropa de las marcas La Wash, Suavitel, Downy, Ariel, Ace, Clorox, etc. </p>
        </div>
      
        <!-- Icon 6 -->
        <div class="text-center">
            <img class="w-2/3 sm:w-2/3 md:w-2/3 lg:w-2/3 mx-auto icon-gray" src="https://i.postimg.cc/RV2P2vHw/image-2024-08-23-200130002.png">
            <p class="text-lg md:text-2xl lg:text-lg mt-2">Puntos y Premios</p>
            <p class="text-sm lg:text-base md:text-xl mt-1 m-2 mt-1 text-gray-600">Con tu Tarjeta La Wash acumula puntos que puedes canjear por premios o por lavado y secado gratis.</p>
        </div>
        
    </div>
    
    

    
      

      </div>
    </div>
  </div>
</div>

    
<div>
    <div class="relative mt-8 mb-32">
        <!-- Image Background -->
        <img class="w-full h-full object-cover" src="https://i.postimg.cc/4fr1fGt9/image-2024-08-29-192655374.png" alt="Background Image">
    
        <!-- Overlay Content -->
        <div class="absolute inset-0 flex flex-col  justify-center items-center text-center text-white px-6">
            <!--
            <p class="font-semibold text-4xl mt-10">Tailwind CSS Navigation Bar Library</p>
            <p class="text-2xl mt-4">
                Explore a curated collection of navigation bar designs that blend functionality with visual appeal. Each design is meticulously crafted to enhance the user experience.
            </p>
            <p class="text-2xl mt-12">
                In this collection, you will find navbars tailored for different needs and preferences. Whether you are building a sleek, minimalist site, a content-heavy platform, or a mobile-first application, there is a navbar design here to suit your requirements. Each design is coded with best practices in mind, including responsiveness, accessibility, and performance optimization.
            </p>
            -->
        </div>
    </div>
</div>
  
              
        <div class="container lg:-mt-32 -mt-32 sm:-mt-12 md:-mt-12 mx-auto p-0 lg:p-0 sm:p-2 md:p-0 -mb-24 sm:-mb-10 md:-mb-10 lg:-mb-24">
            <!-- MAIN CONTENT -->
            <div class="md:flex md:flex-col-reverse lg:flex-row items-center">
                <!-- Main content // ABOUT -->
                <div class="w-2/3  md:ml-5 lg:ml-0 sm:ml-5 lg:w-2/3 sm:w-full md:w-full">
                    <div class="content text-center">
                        <p class="font-semibold text-left text-3xl">La Wash Lavanderías - Ermita Iztapalapa</p>
                    </div>
                    <div class="flex mb-4">
                        <div class="mb-2 ml-3 mr-40">
                            <div class="mb-4 mt-5">
                                <a>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-geo-alt-fill mt-1 float-left mb-2" viewBox="0 0 16 16">
                                        <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
                                    </svg>
                                    <p class="ml-8 text-sms"> Ermita Iztapalapa 2200, Constitución de 1917, Iztapalapa, 09260 Ciudad de México, CDMX, México</p>
                                </a>
                            </div>
                            <div class="mb-6">
                                <a>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-clock-fill mt-1 float-left mb-2" viewBox="0 0 16 16">
                                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71z"/>
                                      </svg>
                                    <p class="ml-8 text-sms"> Lunes a Domingo: 7am-10pm </p>
                                </a>
                            </div>
                            <div class="mb-6">
                                <a>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-telephone-fill mt-1 float-left mb-2" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z"/>
                                      </svg>
                                      <a href="tel:525593722187" class="ml-3 text-sms underline">+52 55937 22187</a>
                                </a>
                            </div>
                            <div class="mb-6 ">
                                <a target="_blank" href="https://www.google.com/maps/place/LA+WASH+LAVANDERÍAS/@19.3474268,-99.0764694,15z/data=!4m10!1m2!2m1!1sla+wash+lavanderias!3m6!1s0x85d1fd822a98aef3:0x5ebe27c94012145a!8m2!3d19.3474268!4d-99.0661697!15sChNsYSB3YXNoIGxhdmFuZGVyaWFzWhUiE2xhIHdhc2ggbGF2YW5kZXJpYXOSAQ9sYXVuZHJ5X3NlcnZpY2WaASNDaFpEU1VoTk1HOW5TMFZKUTBGblNVUmthbUo2YVVoQkVBReABAA!16s%2Fg%2F11vjcl88lb?entry=ttu&g_ep=EgoyMDI0MDgyMC4xIKXMDSoASAFQAw%3D%3D" class="submitform">
                                      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-compass-fill mt-1 float-left mb-2" viewBox="0 0 16 16">
                                        <path d="M15.5 8.516a7.5 7.5 0 1 1-9.462-7.24A1 1 0 0 1 7 0h2a1 1 0 0 1 .962 1.276 7.5 7.5 0 0 1 5.538 7.24m-3.61-3.905L6.94 7.439 4.11 12.39l4.95-2.828 2.828-4.95z"/>
                                    </svg>
                                      <p class="whitespace-nowrap flex ml-8 overflow-x-auto">Cómo llegar</p>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="w-full mt-12 sm:mt-1 md:mt-1 lg:mt-12 hidden sm:block md:block lg:hidden">
                        <img class="h-auto" src="https://i.postimg.cc/SQcbFS2r/image-2024-08-20-194018201-transformed.png" alt="Background Image">
                    </div>

                </div>
                
                <div class="w-1/2 md:w-full lg:w-1/2 sm:w-full mt-12 sm:mt-1 md:mt-1 lg:mt-12 block sm:hidden md:hidden lg:block">
                    <img class="h-auto" src="https://i.postimg.cc/SQcbFS2r/image-2024-08-20-194018201-transformed.png" alt="Background Image">
                </div>
            </div>
        </div>
        
        
        

            

            <!--Footer (Path) -->
            <%- include('footer.ejs') %>
        </div>
    </div>
</body>

<script src="https://cdn.jsdelivr.net/npm/prismjs@1.29.0/prism.min.js"></script>
<script>
function copyToClipboard(index) {
    const codeContent = document.getElementById(`code-content-${index}`).innerText;
    navigator.clipboard.writeText(codeContent).then(() => {
        alert('Code copied to clipboard!');
    }).catch(err => {
        console.error('Failed to copy: ', err);
    });
}

function toggleCode(index) {
    const codeBox = document.getElementById(`code-box-${index}`);
    codeBox.classList.toggle('minimized');
    const button = document.querySelector(`#code-box-${index} .toggle-button`);
    button.textContent = codeBox.classList.contains('minimized') ? 'Show Code' : 'Hide Code';
}

// Initialize all code-boxes to be minimized when the document is ready
document.addEventListener('DOMContentLoaded', () => {
    const codeBoxes = document.querySelectorAll('.code-box');
    codeBoxes.forEach((codeBox, index) => {
        codeBox.classList.add('minimized');
        const button = codeBox.querySelector('.toggle-button');
        if (button) {
            button.textContent = 'Show Code'; // Ensure the button text reflects the minimized state
        }
    });
});


let slideIndex = 1;
showSlides(slideIndex);

// Function to advance to the next slide
function plusSlides(n) {
  showSlides(slideIndex += n);
}

// Function to show a specific slide
function currentSlide(n) {
  showSlides(slideIndex = n);
}

// Function to show the current slide and control video playback
function showSlides(n) {
  let i;
  let slides = document.getElementsByClassName("mySlides");
  if (n > slides.length) { slideIndex = 1 }
  if (n < 1) { slideIndex = slides.length }
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";
    // Pause all videos in non-visible slides
    let videos = slides[i].getElementsByTagName("video");
    for (let j = 0; j < videos.length; j++) {
      videos[j].pause();
    }
  }
  slides[slideIndex - 1].style.display = "block";
  // Reset and play videos in the visible slide
  let visibleVideos = slides[slideIndex - 1].getElementsByTagName("video");
  for (let j = 0; j < visibleVideos.length; j++) {
    visibleVideos[j].currentTime = 0; // Reset video to the beginning
    visibleVideos[j].play(); // Play the video
  }
}

// Function to automatically change the slide every 14 seconds
function autoSlide() {
  setInterval(function() {
    plusSlides(1);
  }, 13700); // Change slide every 14 seconds
}

// Call the autoSlide function to start automatic slide change
autoSlide();

</script>
