
<table class="w-full text-sm text-left p-1 mb-2">
  <tr class="font-semibold grid grid-cols-1 list-inside ">
     <th class="rounded-t-xl">

       <div class="flex items-center justify-between mt-5 mr-2 border-b select-none "></div>
     </th>

    <th class="font-thin text-lg text-center rounded-b-xl">
      UI/UX Component Library
      <div class="flex items-center justify-between mt-2 mr-2 border-b select-none "></div>
    </th>

    <th class="profile-pic mt-2 md:ml-0 ml-5 lg:ml-12">
      <img src="https://i.postimg.cc/ZRZ4WxHs/image-2024-07-24-164053631.png" alt="profile image">
   </th>
   
   <th>
    <div class="flex items-center justify-between mt-2 mr-2 border-b select-none "></div>
  </th>

   <th>
    <a class="font-semibold secondary-font text-2xl"> Index </a>
    <th>
      <a href="#" class="secondary-font underline font-light text-lg my-auto ml-2 whitespace-nowrap w-full"> UI Navbar </a>
    </th>
    <th>
      <a href="#" class="secondary-font underline font-light text-lg my-auto ml-2 whitespace-nowrap w-full"> CSS Animations </a>
    </th>
  </th>

  <th>
    <div class="flex items-center justify-between mt-2 mr-2 border-b select-none "></div>
  </th>

  <th>
    <a class="font-semibold secondary-font text-2xl"> Guide </a>

    <th>
      <a href="#" class="secondary-font underline font-light text-lg my-auto ml-2 whitespace-nowrap w-full"> MongoDB </a>
    </th>
  </th>
  

    <th>
      <div class="flex items-center justify-between mt-2 mr-2 border-b select-none "></div>
    </th>

     
 </tr>
</table>






